/*Default font*/

/*Colors*/

/*Blur*/

/*Max-width of screen*/

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Grape Nuts";
  font-display: swap;
  src: url("../fonts/GrapeNuts-Regular.woff") format("woff"), url("../fonts/GrapeNuts-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

input,
textarea {
  outline: none;
  border: none;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

.checkbox input[type=checkbox] + span::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 2px solid #dadada;
}

.checkbox input[type=checkbox]:checked + span::before {
  border: 2px solid #009aaf;
}

.checkbox input[type=checkbox]:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  background-color: #53b5de;
  width: 9px;
  height: 9px;
}

.checkbox span {
  display: block;
  position: relative;
  padding-left: 2em;
}

.spoller {
  cursor: pointer;
}

.select {
  position: relative;
}

.select::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
}

.select select {
  cursor: pointer;
  background: none;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

.select select:focus {
  outline: none;
}

.select select option {
  color: #000000;
}

.tab-block {
  display: none;
}

.tab-block--active {
  display: block;
}

body {
  font-family: "Roboto", serif;
  font-size: 24px;
  background-color: #EFEFEF;
  color: #000;
}

img {
  display: inline-block;
}

*::-webkit-scrollbar {
  width: 0.8vw;
  height: 4px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: transparent;
}

.container {
  max-width: 1260px;
  padding: 0 10px;
  margin: 0 auto;
}

.container-mobile {
  max-width: 480px;
  padding: 10px;
  padding-top: 3vh;
  margin: 0 auto;
}

.menu-icon {
  display: none;
  position: relative;
  width: 40px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: 0.7s all;
  -o-transition: 0.7s all;
  transition: 0.7s all;
}

.menu-icon span {
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: black;
}

.menu-icon span:nth-child(1) {
  top: 0;
}

.menu-icon span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu-icon span:nth-child(3) {
  bottom: 0;
}

.menu-icon.active {
  display: block;
}

.menu-icon.active span:nth-child(1) {
  top: 48.5%;
  -webkit-transform: rotate(45deg) translateY(-50%);
      -ms-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
}

.menu-icon.active span:nth-child(2) {
  opacity: 0;
}

.menu-icon.active span:nth-child(3) {
  bottom: 48.5%;
  -webkit-transform: rotate(-45deg) translateY(50%);
      -ms-transform: rotate(-45deg) translateY(50%);
          transform: rotate(-45deg) translateY(50%);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.title {
  font-size: 85px;
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 10vh;
}

.title__desc {
  display: block;
  font-weight: 400;
  font-size: 31px;
  line-height: 1.3;
}

.subtitle {
  font-size: 55px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 5vh;
}

.subtitle__desc {
  display: block;
  font-weight: 400;
  font-size: 27px;
  line-height: 1.3;
}

.btn {
  line-height: 1.6;
  border: 2px solid black;
  text-align: center;
  overflow: hidden;
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease;
  position: relative;
}

.btn::before {
  content: "";
  background-color: rgba(239, 239, 239, 0.95);
  width: 100%;
  height: 0%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.btn:hover {
  color: #1D1D1E;
}

.btn:hover::before {
  height: 380%;
}

.btn.bold {
  font-weight: 700;
}

.header {
  position: sticky;
  z-index: 3;
  top: 0;
}

.header__mobile {
  position: fixed;
  top: 0;
  left: 120%;
  -webkit-transition: 0.5s left;
  -o-transition: 0.5s left;
  transition: 0.5s left;
}

.header__top {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.top-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__inner img {
  width: 50px;
  margin-right: 2vw;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: calc(100% - 70px - 2vw);
}

.nav__menu {
  max-width: calc(100% - 30px - 6vw);
  overflow-x: auto;
  font-weight: 300;
  margin-right: 7vw;
}

.nav__menu a {
  white-space: nowrap;
  line-height: 1.4;
  -webkit-transition: 0.5s -webkit-transform;
  transition: 0.5s -webkit-transform;
  -o-transition: 0.5s transform;
  transition: 0.5s transform;
  transition: 0.5s transform, 0.5s -webkit-transform;
}

.nav__btn-theme {
  width: 47px;
  height: 47px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-size: 50%;
}

.nav__btn-theme.dark {
  background-image: url("../images/header/icons/dark.svg");
}

.nav__btn-theme.light {
  background-image: url("../images/header/icons/light.svg");
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6vw;
  padding: 10px;
}

.mobile-header {
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background-color: white;
  height: 100vh;
  width: 100vw;
  font-size: 2rem;
}

.mobile-header .menu-nav {
  margin-top: 8vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 5vh;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 94px - 18vh);
  min-width: 80vw;
  -ms-flex-line-pack: start;
      align-content: start;
}

.mobile-header .menu-nav li {
  text-align: center;
  width: 100%;
}

.mobile-header .menu-nav li a {
  line-height: 1.6;
  white-space: nowrap;
}

.mobile-header__socials {
  position: absolute;
  bottom: 72px;
  z-index: 20;
  width: calc(100% - 20px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.control-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.control-mobile .nav__btn-theme {
  margin-left: 4vw;
}

.footer {
  padding: 6vh 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-weight: 300;
  font-size: 22px;
}

.footer__text a {
  font-weight: 500;
}

.home {
  min-height: calc(100vh - 100px);
}

.home__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 8vh;
  padding-right: 2vh;
}

.home__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 54%;
          flex: 0 1 54%;
  margin-top: 30vh;
}

.home__img-wrapper {
  -ms-flex-item-align: center;
      align-self: center;
  background: transparent;
}

.home__img-wrapper picture {
  position: relative;
  z-index: -1;
}

.home__img-emoji {
  width: 25vw;
}

.content-home__text {
  font-weight: 500;
}

.content-home__text.greetings {
  line-height: 1.5;
}

.content-home__text.greetings span {
  display: block;
  font-weight: 100;
}

.content-home__text.desc {
  line-height: 1.4;
  font-size: 20px;
  margin-bottom: 7vh;
}

.content-home__title {
  font-weight: 900;
  font-size: 55px;
  line-height: 1.4;
}

.content-home__socials {
  margin-left: 2vw;
}

.content-home__socials a {
  position: relative;
}

.content-home__socials a span {
  font-size: 20px;
  -webkit-transition: 1s left, 1.2s opacity;
  -o-transition: 1s left, 1.2s opacity;
  transition: 1s left, 1.2s opacity;
  opacity: 0;
  position: absolute;
  left: -120%;
  top: 40px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.content-home__socials a span::before,
.content-home__socials a span::after {
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  content: "";
  display: block;
  position: absolute;
  opacity: 0;
  border-radius: 1px;
  left: 0;
}

.content-home__socials a span::before {
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  width: 2px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 50%;
}

.content-home__socials a span::after {
  bottom: 0;
  width: 110%;
  height: 2px;
  background-color: black;
}

.projects {
  padding-top: 10vh;
  padding-bottom: 8vh;
}

.projects__box + .projects__box {
  margin-top: 4vh;
}

.projects__text {
  line-height: 1.6;
  margin-top: 5vh;
}

.projects__text a {
  font-weight: 700;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 10vh;
}

.projects__list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47%;
          flex: 0 1 47%;
}

.project {
  height: 100%;
  position: relative;
}

.project__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 35vh;
  width: 100%;
}

.project__title {
  margin-top: 2vh;
  margin-bottom: 0.5vh;
  line-height: 1.3;
  font-weight: 800;
}

.project__desc {
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 65px;
}

.project__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.project__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
  white-space: nowrap;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.about {
  padding-top: 10vh;
  padding-bottom: 8vh;
}

.about__content-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.content-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10vh;
}

.content-about__text {
  line-height: 1.6;
  text-align: justify;
  white-space: pre-line;
}

.content-about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content-about__img picture {
  position: relative;
  display: block;
  margin-right: 5%;
}

.content-about__img picture::after {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid #EFEFEF;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: -5%;
  right: -5%;
}

.content-about__img img {
  max-width: 100%;
  max-height: 40vh;
}

.skills-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-about__content {
  margin-top: 5vh;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46%;
          flex: 0 1 46%;
}

.skills-about__quote {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52%;
          flex: 0 1 52%;
}

.content-skills__title {
  font-size: 31px;
  line-height: 1.48;
  margin-bottom: 3vh;
}

.content-skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3vw;
     -moz-column-gap: 3vw;
          column-gap: 3vw;
  row-gap: 3vh;
}

.content-skills__list li:nth-child(2n) {
  font-weight: 500;
}

.quote-skills {
  text-align: right;
}

.quote-skills__text {
  font-family: "Grape Nuts";
  font-size: 64px;
  line-height: 1.2;
}

.quote-skills__author {
  margin-top: 2vh;
  display: inline-block;
  font-size: 20px;
  line-height: 1.3;
}

@media screen and (min-width: 920px) {
  .content-home__socials a:hover span {
    z-index: 3;
    left: 50%;
    opacity: 1;
  }

  .content-home__socials a:hover span::before,
  .content-home__socials a:hover span::after {
    opacity: 1;
  }

  .content-home__socials a:hover span::before {
    bottom: 0;
    height: 120%;
    -webkit-transition-delay: 1s;
         -o-transition-delay: 1s;
            transition-delay: 1s;
  }
}

@media screen and (min-width: 992px) {
  .nav__menu a:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media screen and (max-width: 1350px) {
  .home__img-emoji {
    max-width: 30vw;
    width: auto;
  }
}

@media screen and (max-width: 1300px) {
  .home__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
}

@media (max-width: 1260px) {
  body {
    font-size: calc(20px + 4 * ((100vw - 320px) / 940));
  }

  .title {
    font-size: calc(45px + 40 * ((100vw - 320px) / 940));
  }

  .title__desc {
    font-size: calc(20px + 11 * ((100vw - 320px) / 940));
  }

  .subtitle {
    font-size: calc(20px + 35 * ((100vw - 320px) / 940));
  }

  .subtitle__desc {
    font-size: calc(18px + 9 * ((100vw - 320px) / 940));
  }

  .header__top {
    font-size: calc(14px + 2 * ((100vw - 320px) / 940));
  }

  .footer__text {
    font-size: calc(20px + 2 * ((100vw - 320px) / 940));
  }

  .content-home__text.desc {
    font-size: calc(18px + 2 * ((100vw - 320px) / 940));
  }

  .content-home__title {
    font-size: calc(28px + 27 * ((100vw - 320px) / 940));
  }

  .content-home__socials a span {
    font-size: calc(18px + 2 * ((100vw - 320px) / 940));
  }

  .project__desc {
    font-size: calc(14px + 1 * ((100vw - 320px) / 940));
  }

  .content-skills__title {
    font-size: calc(25px + 6 * ((100vw - 320px) / 940));
  }

  .quote-skills__text {
    font-size: calc(30px + 34 * ((100vw - 320px) / 940));
  }

  .quote-skills__author {
    font-size: calc(18px + 2 * ((100vw - 320px) / 940));
  }
}

@media screen and (max-width: 1200px) {
  .title {
    margin-bottom: 5vh;
  }

  .subtitle {
    margin-bottom: 2vh;
  }

  .projects {
    padding-top: 4vh;
    padding-bottom: 6vh;
  }

  .projects__list {
    row-gap: 5vh;
  }

  .about {
    padding-top: 4vh;
    padding-bottom: 6vh;
  }

  .content-about__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 56%;
            flex: 0 1 56%;
  }

  .content-about__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}

@media screen and (max-width: 1150px) {
  .projects__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }
}

@media screen and (max-width: 1050px) and (max-width: 450px) {
  .project__control {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1vh;
  }

  .project__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media screen and (max-width: 1000px) {
  .content-about__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 68%;
            flex: 0 1 68%;
  }

  .content-about__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }

  .skills-about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .skills-about__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .skills-about__quote {
    margin-top: 5vh;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }

  .content-skills__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 2vw;
       -moz-column-gap: 2vw;
            column-gap: 2vw;
    row-gap: 2vh;
  }
}

@media screen and (max-width: 970px) {
  .projects__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media screen and (max-width: 921px) {
  .content-home__socials a span {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .content-about {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    gap: 2vh;
  }

  .content-about__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .content-about__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media screen and (max-width: 860px) {
  .header__top {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .top-header__inner img {
    width: 40px;
  }

  .nav__menu {
    max-width: calc(100% - 15px - 6vw);
  }

  .nav__btn-theme {
    width: 35px;
    height: 35px;
  }

  .home {
    min-height: calc(100vh - 67px);
  }

  .home__inner {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 4vh;
    padding-right: 0;
  }

  .home__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-top: 4vh;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .home__img-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .content-home__socials {
    margin-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .content-home__socials a {
    font-size: 30px;
  }
}

@media screen and (max-height: 1000px) and (max-width: 860px) {
  .home__img-emoji {
    max-width: 90vw;
    height: 40vh;
  }
}

@media screen and (max-height: 740px) and (max-width: 860px) {
  .home__img-emoji {
    max-width: 70vw;
    height: 35vh;
  }
}

@media screen and (max-height: 600px) and (max-width: 860px) {
  .home__img-emoji {
    height: 25vh;
  }
}

@media screen and (max-height: 500px) and (max-width: 860px) {
  .home__img-emoji {
    height: 20vh;
  }
}

@media screen and (max-width: 860px) and (max-width: 1260px) {
  .content-home__socials a {
    font-size: calc(25px + 5 * ((100vw - 320px) / 940));
  }
}

@media screen and (max-width: 800px) {
  .content-about {
    margin-bottom: 5vh;
  }

  .skills-about__content {
    margin-top: 2vh;
  }
}

@media screen and (max-width: 700px) {
  .footer__inner {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 3vh;
  }

  .footer__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .home__content {
    margin-top: 7vh;
  }

  .skills-about__quote {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
  }
}

@media screen and (max-width: 550px) {
  .projects__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .project__title {
    margin-top: 1vh;
  }

  .project__desc {
    margin-bottom: 115px;
  }
}

@media screen and (max-width: 480px) {
  .top-header__inner .menu-icon {
    display: block;
  }

  .top-header__nav {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .skills-about__quote {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media screen and (max-width: 550px) and (min-width: 451px) {
  .project__control {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    row-gap: normal;
  }

  .project__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }
}
@supports (-webkit-appearance:none){
.nav__btn-theme.dark{background-image:url("../images/header/icons/dark.svg")}
.nav__btn-theme.light{background-image:url("../images/header/icons/light.svg")}
}

 @media screen and (min-width: 920px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1350px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1300px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1260px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1150px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1050px) and (max-width: 450px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1000px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 970px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 921px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 900px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 860px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-height: 1000px) and (max-width: 860px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-height: 740px) and (max-width: 860px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-height: 600px) and (max-width: 860px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-height: 500px) and (max-width: 860px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 860px) and (max-width: 1260px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 800px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 700px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 550px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 480px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 420px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 550px) and (min-width: 451px){

@supports (-webkit-appearance:none){

}

}
